@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid p-0">
    <!--MOdals-->
    <!--start new game-->
    <div class="modal fade" id="startGame" tabindex="-1" role="dialog" aria-labelledby="startGameModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="startGameModalLabel">Start New Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Offer a draw-->
    <div class="modal fade" id="offerDraw" tabindex="-1" role="dialog" aria-labelledby="offerADrawModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="offerADrawModalLabel">Offer A draw</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Resign-->
    <div class="modal fade" id="resign" tabindex="-1" role="dialog" aria-labelledby="resignModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resignModalLabel">Resign</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Accept or deny a draw-->
    <div class="modal fade" id="acceptOrDenyDraw" tabindex="-1" role="dialog" aria-labelledby="acceptOrDenyDrawModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="acceptOrDenyDrawModalLabel">Accept Draw?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Checkmate-->
    <div class="modal fade" id="checkmateEndOfGame" tabindex="-1" role="dialog" aria-labelledby="checkmateEndOfGameModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="checkmateEndOfGameModalLabel">Checkmate</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--Draw-->
    <div class="modal fade" id="drawEndOfGame" tabindex="-1" role="dialog" aria-labelledby="drawEndOfGameModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="drawEndOfGameModalLabel">Draw</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <!--big screens-->
        <div class="col p-2 container-fluid d-none d-xl-block">
            <!--change display when screen is bigger-->
            <div class="row no-gutters flex-column h-100 flipped">
                <!--generate this code to do-->
                <!--<div class="col d-flex flex-column justify-content-start align-items-center">

                    <div class="m-4 mt-5 d-flex align-items-center">
                        <div class="player-img black rounded d-inline-block"></div>
                        <p class="m-4" style="font-weight:600;">Player 2</p>
                    </div>

                </div>
                <div class="col d-flex flex-column justify-content-end align-items-center">

                    <div class="m-4 mb-5 d-flex align-items-center">
                        <div class="player-img white rounded d-inline-block"></div>
                        <p class="m-4" style="font-weight:600;">Player 1</p>
                    </div>

                </div>-->
                <div class="col d-flex flex-column justify-content-start align-items-center">

                    <div class="m-4 mt-5 d-flex align-items-center">
                        <div class="player-img white rounded d-inline-block"></div>
                        <p class="m-4" style="font-weight:600;">Player 1</p>
                    </div>

                </div>
                <div class="col d-flex flex-column justify-content-end align-items-center">

                    <div class="m-4 mb-5 d-flex align-items-center">
                        <div class="player-img black rounded d-inline-block"></div>
                        <p class="m-4" style="font-weight:600;">Player 2</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- small screens-->
        <div class="col-12 d-xl-none pt-2 pb-2 pl-3 container-fluid">
            <div class="row flex-column">
                <div class="col d-flex">
                    <div class="player-img black rounded d-inline-block" style="width:40px;height:40px;"></div>
                    <p class="ml-4" style="font-weight:600;">Player 2</p>
                </div>
            </div>
        </div>
        <!--board-->
        <div class="col-10 col-xl-12 container-fluid p-0 board flipped">
            <!--
            <svg viewBox="0 0 100 100" class="coords">
                <text x="0.75" y="3.5" font-size="2.8" class="coord-light">8</text>
                <text x="0.75" y="15.75" font-size="2.8" class="coord-dark">7</text>
                <text x="0.75" y="28.25" font-size="2.8" class="coord-light">6</text>
                <text x="0.75" y="40.75" font-size="2.8" class="coord-dark">5</text>
                <text x="0.75" y="53.25" font-size="2.8" class="coord-light">4</text>
                <text x="0.75" y="65.75" font-size="2.8" class="coord-dark">3</text>
                <text x="0.75" y="78.25" font-size="2.8" class="coord-light">2</text>
                <text x="0.75" y="90.75" font-size="2.8" class="coord-dark">1</text>
                <text x="10" y="99" font-size="2.8" class="coord-dark">a</text>
                <text x="22.5" y="99" font-size="2.8" class="coord-light">b</text>
                <text x="35" y="99" font-size="2.8" class="coord-dark">c</text>
                <text x="47.5" y="99" font-size="2.8" class="coord-light">d</text>
                <text x="60" y="99" font-size="2.8" class="coord-dark">e</text>
                <text x="72.5" y="99" font-size="2.8" class="coord-light">f</text>
                <text x="85" y="99" font-size="2.8" class="coord-dark">g</text>
                <text x="97.5" y="99" font-size="2.8" class="coord-light">h</text>
            </svg>-->

            <svg viewBox="0 0 100 100" class="coords">
                <text x="0.75" y="3.5" font-size="2.8" class="coord-light">1</text>
                <text x="0.75" y="15.75" font-size="2.8" class="coord-dark">2</text>
                <text x="0.75" y="28.25" font-size="2.8" class="coord-light">3</text>
                <text x="0.75" y="40.75" font-size="2.8" class="coord-dark">4</text>
                <text x="0.75" y="53.25" font-size="2.8" class="coord-light">5</text>
                <text x="0.75" y="65.75" font-size="2.8" class="coord-dark">6</text>
                <text x="0.75" y="78.25" font-size="2.8" class="coord-light">7</text>
                <text x="0.75" y="90.75" font-size="2.8" class="coord-dark">8</text>
                <text x="10" y="99" font-size="2.8" class="coord-dark">h</text>
                <text x="22.5" y="99" font-size="2.8" class="coord-light">g</text>
                <text x="35" y="99" font-size="2.8" class="coord-dark">f</text>
                <text x="47.5" y="99" font-size="2.8" class="coord-light">e</text>
                <text x="60" y="99" font-size="2.8" class="coord-dark">d</text>
                <text x="72.5" y="99" font-size="2.8" class="coord-light">c</text>
                <text x="85" y="99" font-size="2.8" class="coord-dark">b</text>
                <text x="97.5" y="99" font-size="2.8" class="coord-light">a</text>
            </svg>
            <!-- to do: generete this code-->
            <!--Effects-->

            <div class="square-h1 highlight"></div>
            <div class="square-g1 highlight"></div>
            <div class="square-a3 highlight-danger"></div>
            <div class="square-a4 highlight-danger"></div>
            <div class="square-a5 hover-square"></div>
            <div class="square-a6 hover-square"></div>

            <div id="a1" class="piece rw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b1" class="piece nw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c1" class="piece bw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d1" class="piece qw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e1" class="piece kw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f1" class="piece bw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g1" class="piece nw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h1" class="piece rw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a3" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div> <!--To DO: 1. square is only draggable if has class "piece" 2. piece can be dropped only if move is possible-->
            <div id="b3" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c3" class="" ondragover="allowDrop(event)" ondrop="drop(event)"></div><!--To DO: square that piece can move on to-->
            <div id="d3" class="" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e3" class="" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f3" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g3" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h3" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a8" class="piece rb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b8" class="piece nb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c8" class="piece bb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d8" class="piece qb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e8" class="piece kb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f8" class="piece bb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g8" class="piece nb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h8" class="piece rb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>


            <!--Move Hints-->
            <div class="square-a1 capture-hint"></div>
            <div class="square-a3 hint"></div>
            <div class="square-a4 hint"></div>
            <!--end generate to do-->
        </div>
        <!-- small screens-->
        <div class="col-12 d-xl-none pt-2 pb-2 pl-3 container-fluid">
            <div class="row flex-column">
                <div class="col d-flex">
                    <div class="player-img white rounded d-inline-block" style="width:40px;height:40px;"></div>
                    <p class="ml-4" style="font-weight:600;">Player 1</p>
                </div>
            </div>
        </div>
        <!--buttons and moves-->
        <div class="col p-2 container-fluid">
            <div class="row no-gutters flex-column h-100">
                <div class="col">

                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>e3</td>
                                <td>e4</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>e5</td>
                                <td>d4</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>d5</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col d-flex flex-column justify-content-start align-items-center">
                    <!--hide start the game button after game is started-->
                    <button type="button" data-toggle="modal" data-target="#startGame" class="btn btn-success m-2 d-block" style="width: 180px; height: 40px; font-weight: 600;"><i class="fas fa-chess"></i> Start The Game <i class="fas fa-chess"></i></button>
                    <button type="button" data-toggle="modal" data-target="#offerDraw" class="btn btn-primary m-2 d-block" style="width: 180px; height: 40px; font-weight: 600;">Offer A Draw <i class="fas fa-question"></i> <i class="fas fa-handshake"></i></button>
                    <button type="button" data-toggle="modal" data-target="#resign" class="btn btn-secondary m-2 d-block" style="width: 180px; height: 40px; font-weight: 600;">Resign <i class="fas fa-flag"></i></button>
                    <button type="button" class="btn btn-light border-secondary m-2 d-block" style="width: 180px; height: 40px; font-weight: 600;">Flip the board <i class="fas fa-sync-alt"></i></button>
                </div>
            </div>


        </div>
    </div>
</div>
