@model ChessApp.Models.Chess.Game
@{
    var ids = new Dictionary<string, string>
                {
                    { "firstPlayerId", @Model.FirstPlayerID },
                    { "secondPlayerId", @Model.SecondPlayerID }
                };
    var flag = Model.GameState.PlayersAgreedToADraw != true;
}
<div class="modal fade" id="playersAgreedToDrawModal" tabindex="-1" role="dialog" aria-labelledby="playersAgreedToDrawModalLabel" aria-hidden="@flag">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="playersAgreedToDrawModalLabel">Draw</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Players agreed to draw.</p>
            </div>
            <div class="modal-footer">
                <p>Start A New Game:</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" asp-action="CreateGame" asp-all-route-data="ids">Play Again</button><!--TODO: redirect to create new game with firstplayerid and second player id parameters-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#startGame">Change Players</button><!--TODO: redirect to create new game-->
            </div>
        </div>
    </div>
</div>