@model ChessApp.Models.Chess.Game
@{
    var flag = Model.GameState.PlayerResigned;
}

@if (flag)
{
    <div class="modal fade" id="playerResignedModal" tabindex="-1" role="dialog" aria-labelledby="playerResignedModalLabel" aria-modal="true" style="display: block;" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="playerResignedModalLabel">Player Resigned</h5>
                    <button type="button" class="close" onclick="hideModal('#playerResignedModal')" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@Html.DisplayFor(model => model.GameState.CurrentPlayer) resigned.</p>
                    <p><b>@Html.DisplayFor(model => model.GameState.NextPlayer) won the game!</b></p>
                </div>
                <div class="modal-footer">
                    <p>Start a New Game: </p><br />
                    <form asp-action="CreateNewGame">
                        <input type="hidden" asp-for="FirstPlayerID" value="@Model.SecondPlayerID" />
                        <input type="hidden" asp-for="SecondPlayerID"  value="@Model.FirstPlayerID" />
                        <input type="submit" value="Play Again" class="btn btn-success" />
                    </form>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#startGame">Change Players</button><!--TODO: redirect to create new game-->
                </div>
            </div>
        </div>
    </div>
}

<script src="~/js/confetti.min.js"></script>
<script>
    setTimeout(function () {
        $('#playerResignedModal').modal('show');
    }, 1500);

    const start = () => {
        setTimeout(function () {
            confetti.start();
        }, 2500);
    };
    
    const stop = () => {
        setTimeout(function () {
            confetti.stop();
        }, 5500);
    };

    start();
    stop();
    
</script>
